{# {% extends 'base2.html.twig' %} #}
{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

        {# {% block header %}
            {% include 'accueil/header.html.twig' %}
        {% endblock %} #}

{% block body %}
  <br>
  <br>
  <br>
  <br>
  <div><h2>Liste des offres</h2></div>

  <br>
  <div class="container">
    <div class="row">
      {% for liste in listes %}   
        <div class="col-3">
          <div class="boxrubrique">
            {# <div class="titrerubrique"><u>{{ liste.user.username }}</u> : </div><br> #}
            <div><img src="/image_publication/{{ liste.image }}" alt="image" width="200px"></div>
            <div class="contenuerubrique">{{ liste.publication|u.truncate(50) }} ...</div><br>
            <div class="lirelasuite"><a href="{{ path('details', {'id': liste.id}) }}">lire la suite ...</a></div>
          </div>
          <hr>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="navigation">
      {{ knp_pagination_render(listes) }}
  </div>
{% endblock %}
