{% extends 'base4.html.twig' %}

{% block title %}Liste des Publications{% endblock %}

{% block contenue %}
    <h1>Liste des Publications</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Publication</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
                <td>{{ publication.id }}</td>
                <td>{{ publication.publication }}</td>
                <td>{{ publication.date ? publication.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('publication_show', {'id': publication.id}) }}">show</a>
                    <a href="{{ path('publication_edit', {'id': publication.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('publication_new') }}">Create new</a>
{% endblock %}
