{% extends 'base4.html.twig' %}

{% block title %}Information Publication{% endblock %}

{% block contenue %}
    <h1>Information Publication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publication.id }}</td>
            </tr>
            <tr>
                <th>Publication</th>
                <td>{{ publication.publication }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ publication.date ? publication.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('publication_index') }}">back to list</a>

    <a href="{{ path('publication_edit', {'id': publication.id}) }}">edit</a>

    {{ include('publication/_delete_form.html.twig') }}
{% endblock %}
