{% extends 'base4.html.twig' %}

{% block title %}Liste des partenaires{% endblock %}

{% block contenue %}
    <h1>Liste des partenaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Logo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partenaire in partenaires %}
            <tr>
                <td>{{ partenaire.id }}</td>
                <td>{{ partenaire.nom }}</td>
                <td><img src="/logo/{{ partenaire.logo }}" alt="logo {{ partenaire.nom }}" width="150px"></td>
                {# <td>{{ partenaire.logo }}</td> #}
                <td>
                    <a href="{{ path('partenaire_show', {'id': partenaire.id}) }}">voir</a>
                    <a href="{{ path('partenaire_edit', {'id': partenaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(partenaires) }}
    </div>

    <a href="{{ path('partenaire_new') }}">Nouveau partenaire</a>
{% endblock %}
