{# {% extends 'base.html.twig' %} #}

{% block title %}Typeprojet{% endblock %}

{% block body %}
    <h1>Typeprojet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeprojet.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ typeprojet.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('typeprojet_index') }}">back to list</a>

    <a href="{{ path('typeprojet_edit', {'id': typeprojet.id}) }}">edit</a>

    {{ include('typeprojet/_delete_form.html.twig') }}
{% endblock %}
