{% extends 'base4.html.twig' %}

{% block title %}Liste des Propositions{% endblock %}

{% block contenue %}
    <h1>Liste des Propositions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Proposition</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proposition in propositions %}
            <tr>
                <td>{{ proposition.id }}</td>
                <td>{{ proposition.proposition }}</td>
                <td>{{ proposition.date ? proposition.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('proposition_show', {'id': proposition.id}) }}">voir</a>
                    <a href="{{ path('proposition_edit', {'id': proposition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(propositions) }}
    </div>

    <a href="{{ path('proposition_new') }}">Nouveau</a>
{% endblock %}
