{% extends 'base4.html.twig' %}

{% block title %}Information Message{% endblock %}

{% block contenue %}
    <h1>Information Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ message.message }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ message.date ? message.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lue</th>
                <td>{{ message.lue ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('message_index') }}">Retour</a>

    <a href="{{ path('message_edit', {'id': message.id}) }}">Modifier</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
