{% extends 'base4.html.twig' %}

{% block title %}Liste des Rubriques{% endblock %}

{% block contenue %}
    <h1>Liste des Rubriques</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rubrique in rubriques %}
            <tr>
                <td>{{ rubrique.id }}</td>
                <td>{{ rubrique.nom }}</td>
                <td>
                    <a href="{{ path('rubrique_show', {'id': rubrique.id}) }}">show</a>
                    <a href="{{ path('rubrique_edit', {'id': rubrique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rubrique_new') }}">Create new</a>
{% endblock %}
