{% extends 'base4.html.twig' %}

{% block title %}Information Rubrique{% endblock %}

{% block contenue %}
    <h1>Information Rubrique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rubrique.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ rubrique.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rubrique_index') }}">back to list</a>

    <a href="{{ path('rubrique_edit', {'id': rubrique.id}) }}">edit</a>

    {{ include('rubrique/_delete_form.html.twig') }}
{% endblock %}
