{% extends 'base4.html.twig' %}

{% block title %}Liste des Types de proposition{% endblock %}

{% block contenue %}
    <h1>Liste des Type de proposition</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeproposition in typepropositions %}
            <tr>
                <td>{{ typeproposition.id }}</td>
                <td>{{ typeproposition.type }}</td>
                <td>
                    <a href="{{ path('typeproposition_show', {'id': typeproposition.id}) }}">voir</a>
                    <a href="{{ path('typeproposition_edit', {'id': typeproposition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(typepropositions) }}
    </div>

    <a href="{{ path('typeproposition_new') }}">Nouveau</a>
{% endblock %}
