{% extends 'base4.html.twig' %}

{% block title %}Information Type de proposition{% endblock %}

{% block contenue %}
    <h1>Information Type de proposition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeproposition.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ typeproposition.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('typeproposition_index') }}">back to list</a>

    <a href="{{ path('typeproposition_edit', {'id': typeproposition.id}) }}">edit</a>

    {{ include('typeproposition/_delete_form.html.twig') }}
{% endblock %}
